* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

nav {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
}

header {
  text-align: center;
  height: 800px;

  background-image: url(../img/dark_peep_header.svg),
    url(../img/glasses_peep_header.svg);

  background-position: left bottom 100%, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 97px;
  line-height: 87px;
  text-align: center;
  color: #222222;
}

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #404756;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 58px;
  color: #222222;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
  color: #222222;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #222222;
  margin: 17px 0;
}

h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #222222;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #f7859c;
  border-radius: 12px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.logo-container {
  display: flex;
  height: 109px;
  align-items: center;
  justify-content: center;
  float: left;
  padding-left: 10%;
}

.navigation-container {
  min-width: 650px;
  height: 109px;
}

.navigation-bar {
  text-align: right;
}

.navigation-bar ul {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding-right: 10%;
}

.navigation-bar li {
  list-style-type: none;

  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a:hover {
  color: #ff5634;
}

.navigation-bar li a {
  line-height: 109px;
  text-decoration: none;
  color: #121212;
  padding: 51px 30px;
}

.header-container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-textbox-wraper {
  max-width: 40%;
}

.pre-header-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
}
.smear-light-brown::before {
  content: url(../img/smear_light_brown.svg);
  position: relative;
  top: 4px;
  left: 15px;
  z-index: -1;
}
.smear-orange-brown::before {
  content: url(../img/smear_orange_brown.svg);
  position: relative;
  top: 4px;
  left: 15px;
  z-index: -1;
}

header p {
  margin-top: 40px;
}

header .button {
  margin-top: 27px;
}

.your-class {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='36' viewBox='0 0 34 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16664 7.46381C6.34027 4.1243 9.53203 1.0921 13.2162 0.330012C16.9005 -0.453452 21.0773 1.0332 24.9084 3.22265C28.7394 5.41211 32.1821 8.32543 32.9415 11.7949C33.6796 15.2642 31.6918 19.3107 29.9815 23.2098C28.2499 27.1086 26.7958 30.8814 23.9499 33.1894C21.1042 35.476 16.8455 36.2977 12.6828 35.7305C8.49863 35.1845 4.41043 33.2496 2.24537 30.0898C0.0804808 26.9086 -0.161278 22.5025 0.316772 18.4868C0.79499 14.4498 1.99301 10.8033 4.16664 7.46381Z' fill='%23FFDBB4'/%3E%3C/svg%3E");
}

.collection {
  max-width: 1440px;
  margin: 120px auto;
  text-align: center;
}

.collection hr {
  margin: 30px 0;
  max-width: 370px;
  color: rgba(64, 71, 86, 0.6);
}
.collection-wraper {
  display: flex;
  flex-direction: row;

  padding-top: 140px;
}

.collection-info {
  width: 45%;
  padding-left: 230px;
  text-align: left;
}

.collection-info p {
  max-width: 335px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #404756;
}

.colection-peeps {
  width: 50%;
}

.colection-peeps img {
  height: 290px;
}

.colection-peeps {
  display: flex;
  flex-wrap: wrap;
  padding-left: 45px;
}

.colection-peep-container {
  margin: -70px 0 0 -40px;
}

.rarity {
  max-width: 1440px;
  margin: 0px auto;

  text-align: left;
  background: #fbf1e6;
  z-index: auto;
}

.rarity::after {
  content: "";
  background: url("../img/pink-block-wave-bottom.svg");
  position: relative;
  display: block;
  height: 140px;
  bottom: -100%;
  left: 0;
  z-index: 3;
  background-color: #ffffff;
}

.rarity::before {
  content: "";
  background-image: url("../img/pink-block-wave-bottom.svg");
  position: relative;
  display: block;
  height: 140px;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  z-index: 3;
  background-color: #ffffff;
}

.rarity-wraper {
  margin-left: 230px;
}

.rarity-header-wraper {
  position: relative;
  z-index: 2;
  margin: 78px 0;
}

.rarity hr {
  color: rgba(64, 71, 86, 0.6);
  margin: 70px 0;
}

.rarity h5 {
  padding-right: 30px;
}

.rarity-quality-info-container {
  display: flex;
}

.rarity-quality-info {
  max-width: 50%;
}
.rarity-quality-info p {
  max-width: 50%;
}

.stat-points-wraper {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.stat-points-wraper img {
  height: 18px;
  margin-right: 5px;
}

.rarity-peep-img {
  display: block;
  height: 500px;
}
