* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

nav {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
}

header {
  text-align: center;
  height: 800px;

  background-image: url(../img/dark_peep_header.svg),
    url(../img/glasses_peep_header.svg);

  background-position: left bottom 100%, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 97px;
  line-height: 87px;
  text-align: center;
  color: #222222;
}

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #404756;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #f7859c;
  border-radius: 12px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.logo-container {
  display: flex;
  height: 109px;
  align-items: center;
  justify-content: center;
  float: left;
  padding-left: 10%;
}

.navigation-container {
  min-width: 650px;
  height: 109px;
}

.navigation-bar {
  text-align: right;
}

.navigation-bar ul {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding-right: 10%;
}

.navigation-bar li {
  list-style-type: none;

  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a:hover {
  color: #ff5634;
}

.navigation-bar li a {
  line-height: 109px;
  text-decoration: none;
  color: #121212;
  padding: 51px 30px;
}

.header-container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-textbox-wraper {
  max-width: 30%;
}

.pre-header-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
}

header p {
  margin-top: 40px;
}

header .button {
  margin-top: 27px;
}
